@import "../assets/styles/colors.scss";
div{
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 100%;
    min-height: 100vh;

}
li {
    margin-right: 25vw ;
    margin-top: 10vh !important;
    list-style:none ;
}

li b{
    display: flex;
    align-items: center;
}
li:nth-child(odd) { 
    margin-right: 0 ;
    margin-left: 25vw ;
}

.homeContainer{
    background: linear-gradient($dark, $blue,$main,$light-blue,$light-blue2),url("../assets/images/stars.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:hard-light;
    width: auto;
    min-height: 600vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .firstSection{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        position: absolute;
        z-index: 2;
        b{
            color: #61dafb;
        }
    }
    .secondSection{
        li{
            height: min-content;
            font-size: 2vw;
            @media (orientation:portrait){
                font-size: 3vh;
            }
        }
    }
    .thirdSection{
        .about{
            width: min-content;
            min-width: 50vw;
            max-width: 70vw;
            @media (max-width:1000px) {
                font-size: 2vw;
            }
            margin: auto;
            margin-right: 15vw;
            &:nth-child(odd) { 
                margin-right: 0 ;
                margin-left: 15vw ;
            }
            background: rgba($color: $dark, $alpha: 0.5);
            height: 10vh;
            padding: 5px;
            b{
                color:#61dafb;
            }
            border: solid $light-blue;
            border-radius: 1vh;
            border-width: 0.3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 20%;
                height: auto;
                max-height:'auto';
                position: relative;
            }
            @media (orientation:portrait){
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size:1.5vh;
            }
        }
    }
    .fourthSection{
        ul{
            display: flex;
            justify-content: center;
            h3{
                text-decoration: underline;
                color: #B79BC0;
            }

            align-items: start;
            flex-direction: row;
            li{
            background: rgba($color: $dark, $alpha: 0.5);
            border: solid $light-blue;
            border-radius: 1vh;
            border-width: 0.3vw;
            max-width: 80vw;
            margin: 0 ;
            width: 100%;
            text-align: center;
           }
        }
    }
}
button{
    position:fixed;
    border-radius: 50%;
    display: flex;
    align-items: center ;
    justify-content: center;
    svg{
        font-size: 2vw;
    }
    margin: auto;
    border: 0;
    top: 90%;
    right: 95%;
    width: 3.5vw;
    padding: 0;
    height: 3.5vw;
    @media (min-width:200px) {
        font-size: 1vw;
    }
    @media (orientation:portrait) {
        right: 90%;
        width: 5vh;
        height: 5vh;
    }
    z-index: 3;
}
.scrollSpy{
    .X{
        color:#26408B;
    }
    width: 3.5vw;
    z-index: 3;
    margin: 0 ;
    top: calc(50% );
    transform: translateY(-50%);
    right:  95%;
    position:fixed;
    padding: 0 !important;
    font-size: 4vh;
    height:20vh;
    li{
        transition: 0.5s ease-in-out;
        margin: 0 !important;
        &:hover{
            font-size: calc(4vh + 1vh);
            color: #61dafb;
        }
    }
}
